In [ ]:
# --- Import the required modules:
import pandas as pd

# --- Import the CSV file data into a panda dataframe:
df = pd.read_csv("degree-data.csv")

# --- Set pandas to show only two digits after the decimal:
pd.options.display.float_format = '{:,.2f}'.format

# --- View the data in the dataframe:
df.head()

In [ ]:
# --- Display the total number of rows and columns:
df.shape

In [ ]:
# --- Show all of the column names:
df.columns

In [ ]:
# --- Check to see if there are any NaN (Not a Number) values in the
# --- dataframe. These could be issues or empty cells.
# --- Returns True if cell is NaN.
df.isna()

In [ ]:
# --- Show last five rows in the dataframe:
df.tail()

In [ ]:
# --- To remove any rows with NaN cells, you can use dropna() or delete the row index number:
# --- Creates a new variable with the updated dataframe in:
clean_df = df.dropna()
clean_df.tail()

In [ ]:
# --- To view just a single column, do the following:
clean_df["Starting Median Salary"]

In [ ]:
# --- To view just a single columns highest value, do the following:
clean_df["Starting Median Salary"].max()

In [ ]:
# --- Show the row index for the highest value in a column:
max_salary_id = clean_df['Starting Median Salary'].idxmax()
print(max_salary_id)

In [ ]:
# --- Show the value for the degree name that uses the max_salary_id for the row index .loc[row_index]:
clean_df['Undergraduate Major'].loc[max_salary_id]

In [ ]:
# --- Do the same as above but return the entire row for the index in max_salary_id:
clean_df.loc[max_salary_id]

In [ ]:
# --- You can perform basic arithmetic with entire columns:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [ ]:
# --- After you have worked out what you would like to do, you can insert the results into the dataframe as a new column:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# --- (1 = column index to insert into, "Spread" = The column name, spread_col = the variable with the column values to insert):
clean_df.insert(1, 'Spread', spread_col)
# --- Show the first five rows:
clean_df.head()

In [ ]:
# --- Sort the dataframe by the Spread column:
low_risk = clean_df.sort_values('Spread')
# --- To see just the columns you need:
low_risk[['Undergraduate Major', 'Spread']].head()

In [13]:
# --- Use the groupby function to group items by the "Group" column and show the mean value for each:
clean_df.groupby('Group').mean()

,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary
Group,,,,,
Business,"103,958.33","44,633.33","75,083.33","43,566.67","147,525.00"
HASS,"95,218.18","37,186.36","62,968.18","34,145.45","129,363.64"
STEM,"101,600.00","53,862.50","90,812.50","56,025.00","157,625.00"