In [1]:
# --- Import the required modules:
import pandas as pd

# --- Set pandas to show only two digits after the decimal:
pd.options.display.float_format = '{:,.2f}'.format

# --- Import the CSV file data into a panda dataframe:
df = pd.read_csv("degree-data.csv")

In [ ]:
# --- To remove any rows with NaN cells, you can use dropna() or delete the row index number:
# --- Creates a new variable with the updated dataframe in:
clean_df = df.dropna()
clean_df.tail()

In [ ]:
# --- Show highest Mid-Career Median Salary:
clean_df["Mid-Career Median Salary"].max()

In [ ]:
# --- Show the row for the highest Mid-Career Median Salary:
max_salary_id = clean_df['Mid-Career Median Salary'].idxmax()
clean_df.loc[max_salary_id]

In [ ]:
# --- Show lowest Mid-Career Median Salary:
clean_df["Mid-Career Median Salary"].min()

In [9]:
# --- Show the row for the lowest Mid-Career Median Salary:
lowest_salary_id = clean_df['Mid-Career Median Salary'].idxmin()
clean_df.loc[lowest_salary_id]

Undergraduate Major                  Education
Starting Median Salary                 34900.0
Mid-Career Median Salary               52000.0
Mid-Career 10th Percentile Salary      29300.0
Mid-Career 90th Percentile Salary     102000.0
Group                                     HASS
Name: 18, dtype: object