In [13]:
# --- Import the required modules:
import pandas as pd

# --- Set pandas to show only two digits after the decimal:
pd.options.display.float_format = '{:,.2f}'.format

# --- Import the CSV file data into a panda dataframe:
df = pd.read_csv("degree-data.csv")

# --- View the data in the dataframe:
df.head()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,"46,000.00","77,100.00","42,200.00","152,000.00",Business
1,Aerospace Engineering,"57,700.00","101,000.00","64,300.00","161,000.00",STEM
2,Agriculture,"42,600.00","71,900.00","36,300.00","150,000.00",Business
3,Anthropology,"36,800.00","61,500.00","33,800.00","138,000.00",HASS
4,Architecture,"41,600.00","76,800.00","50,600.00","136,000.00",Business

In [ ]:
# --- To remove any rows with NaN cells, you can use dropna() or delete the row index number:
# --- Creates a new variable with the updated dataframe in:
clean_df = df.dropna()
clean_df.tail()

In [ ]:
# --- You can perform basic arithmetic with entire columns:
clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']

In [ ]:
# --- After you have worked out what you would like to do, you can insert the results into the dataframe as a new column:
spread_col = clean_df['Mid-Career 90th Percentile Salary'] - clean_df['Mid-Career 10th Percentile Salary']
# --- (1 = column index to insert into, "Spread" = The column name, spread_col = the variable with the column values to insert):
clean_df.insert(1, 'Spread', spread_col)
# --- Show the first five rows:
clean_df.head()

In [ ]:
# --- Sort the dataframe by the Spread column:
highest_spread = clean_df.sort_values('Spread', ascending=False)
# --- To see just the columns you need:
highest_spread[['Undergraduate Major', 'Spread']].head()

In [ ]:
# --- Find the top five degrees with the highest values in the 90th percentile:
top_potential = clean_df.sort_values('Mid-Career 90th Percentile Salary', ascending = False)
# --- To see just the columns you need (n=5: Limit the results to five rows):
top_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head(n=5)